<!DOCTYPE html>
<html lang="en">
<head>
  <title> Marxist Clickbait  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/styles/style.css?q={{time}}" />
</head>

<body>
  <div class="container">
    <div class="tweet-container">
      <img src="static/the_boy.jpg" height=352px width=300px style="transform:translateX(10px);">
      <div class="bubble-container">
        <div id="talkbubble"> {{tweet}} </div>
        <form action="/" class="button-container">
          <button class="btn" formmethod="get"> Generate </button>
          <button class="btn" formmethod="post"> Favorite </button>
          <button class="btn" formmethod="get" formaction="/favorites"> See All Favorites </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
