body {
  background-color: rgb(170, 0, 0);
  font-family: 'opera-lyrics-smoothregular', Arial;
}

h1 {
  font-family: cursive;
  font-size: 3rem;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'opera-lyrics-smoothregular';
    src: url('../fonts/opera-lyrics-smooth-webfont.woff2') format('woff2'),
         url('../fonts/opera-lyrics-smooth-webfont.woff') format('woff');
}

@font-face {
  font-family: 'ds_fette_kanzleiregular';
  src: url('../fonts/dsfettekanzlei-webfont.woff2') format('woff2'),
      url('../fonts/dsfettekanzlei-webfont.woff') format('woff');
}

.button-container {
  display: flex;
  flex-direction: row;
}

.btn {
  border-radius: 4px;
  margin: 5px;
  background-color: rgb(248,236,194);
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  color: #3D341C;
  font-weight: bold;
  box-sizing: border-box;
  border-width: 0px;
}

.btn:hover {
  background-color: #FFF9E3;
}

.btn:active {
  outline: 0px;
  background-color: #d1c6a3;
}

.btn:focus {
  outline: 0px;
}

.tweet-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#talkbubble {
   width: 300px;
   display: flex;
   margin-bottom: 15px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
   line-height: 1.4rem;
   height: 200px;
   background: rgb(248,236,194);
   position: relative;
   -moz-border-radius:    80px;
   -webkit-border-radius: 80px;
   border-radius:         80px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 100px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid rgb(248,236,194);
   border-bottom: 13px solid transparent;
}
