body {
  background-color: red;
  font-family: 'opera-lyrics-smoothregular', Arial;
}

@font-face {
    font-family: '18thcenturyregular';
    src: url('../fonts/18thcentury-webfont.tff') format('tff');
    src: url('../fonts/18thcentury-webfont.woff2') format('woff2'),
         url('../fonts/18thcentury-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: 'opera-lyrics-smoothregular';
    src: url('../fonts/opera-lyrics-smooth-webfont.woff2') format('woff2'),
         url('../fonts/opera-lyrics-smooth-webfont.woff') format('woff');
}

.button-container {
  display: flex;
  flex-direction: row;
}

.tweet-container {
  display: flex;
  flex-direction: row;
}

#talkbubble {
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
   height: 200px;
   background: white;
   position: relative;
   -moz-border-radius:    80px;
   -webkit-border-radius: 80px;
   border-radius:         80px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 100px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid white;
   border-bottom: 13px solid transparent;
}
